{% extends 'base.html.twig' %}

{% block body %}
    <h2>Derniers produits</h2>
    <ul>
        {% for product in last_products %}
            <li>
                <a href="{{ path('product', {id: product.id}) }}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
