{% extends 'base.html.twig' %}



{% block body %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ path('product', {id: product.id}) }}">
                    {{ product.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('product_new') }}">Nouveau</a>
{% endblock %}


